.container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.infoBox {
  text-align: center;
  width: 200px;
  height: 200px;
  background-color: rgba(156, 156, 156, 0.5);
  border: 1px solid rgb(200, 170, 110);
}

.infoList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.infoContainer {
  display: flex;
  flex-wrap: wrap;
  height: 400px;
  justify-content: space-around;
}

.championName {
  flex-basis: 100%;
  text-align: center;
}

.loadingImage {
  width: 200px;
  height: 400px;
}