.button {
  background-image: url('../images/button-lockin.png');
  background-size: 100% 100%;
  width: 300px;
  height: 100px;
  color: rgb(253, 216, 142);
  background-color: transparent;
  border: none;
}

.buttonDisabled {
  background-image: url('../images/button-lockin-disable.png');
}

.button:hover {
  background-image: url('../images/button-lockin-hover.png');
  background-size: 100% 100%;
  cursor: pointer;
}

.buttonDisabled:hover {
  background-image: url('../images/button-lockin-disable.png');
  background-size: 100% 100%;
}
